body{
    margin:0;
    padding:0;
    
}
.container{
    max-width: 780vw;
    margin: 0 auto;
    width: 100%;
}
section{
    background-color:hsl(224, 82%, 57%);
    margin: 0; 
    margin-top: -18px;
    height: 35vh;
    display: flex;
}
img{
    margin-top: 20vh;
    margin-left: 43vw;
    justify-content: center;
    
}