body{
    margin:0;
    padding:0;
    background: linear-gradient(180deg, #004a99 0%, #f2f2f2 100%);
    background: linear-gradient(0deg, #004a99, #f2f2f2 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    
}
.container{
    width:100%;
    max-width: 1200px;
    margin:0 auto;

}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    border-radius: 10% ;
    box-shadow: 0 6px 10px rgba(31,78,173, 0.3);


  
   
}
img{
    max-width: 280px;
    height: auto;
    border-radius: 5%;
    

}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;


}
button{
    width: 200px;
    height: 40px;
    margin: 10px;
    font-size: 18px;
    background-color: #1F4EAD;
    color:#c8dcf7f6;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family:"Montserrat", Arial, sans-serif;
    font-style: italic;
   

   
}
button:hover{
    background-color: #7793e6;
    cursor: pointer;
}
footer {
    
    color: #c8dcf7f6;
    text-align: center;
    width: 100%;

}
footer p {
    margin: 5px 0;
    font-size: 13px;
}
main{

    flex: 1;
}
.modal{
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 25px;
    border-radius: 12px;
    width:320px;
    text-align: center;
    font-size: 18px;
    position: relative;
    border-top: 5px solid #1F4EAD;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.fechar {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #e4d5d5;
  line-height: 1;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: red;
  padding: 0 5px 0 5px;
  border-radius: 50px;
}
.fechar:hover {
  background-color:#b4a4a454;
}
.modalContato{
    display: none;
    position: fixed;
    z-index: 999;
    margin: 50% 50% 50% 50% ;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.modal-conteudo{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 25px;
    border-radius: 12px;
    width:320px;
    text-align: center;
    font-size: 18px;
    position: relative;
    border-top: 5px solid #1F4EAD;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.tel{
    background-color: #1F4EAD;
    padding: 8px 1px 8px 1px ;
    border-radius: 20px;
    width:70%;
    margin: 10px auto;
    color:#fefefe;
}
.tel:hover{
    background-color: #7793e6;
}
.whats{
    background-color: rgb(57, 173, 57);
    padding: 8px 75px 8px 75px ;
    border-radius: 20px;
    width:70px;
    color:#fefefe;
    text-decoration: none;
    font-family:"Montserrat", Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: auto;
}
.whats:hover{
    background-color: rgb(124, 199, 124);
}
h2{
    font-family:"Montserrat", Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    color:#1F4EAD;
}
 
.btn-email{
    background-color: red;
    padding: 8px 50px 8px 50px ;
    border-radius: 20px;
    width:70px;
    color:#fefefe;
    font-family:"Montserrat", Arial, sans-serif;
    font-style: italic;
    font-size: 16px;

}
.btn-email:hover{
    background-color:rgb(212, 79, 79);
}
a{
    text-decoration: none;
    color:#fefefe
}