body{
    margin:0;
    padding:0;
    background: linear-gradient(to bottom, #3366ff 60%, #ffffff 50%);
    background-repeat: no-repeat;
}
.container{
    width:100%;
    max-width: 1200vw;
    margin:0 auto;
   
    
}


.logo{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
   
}